.wrapper {
	display: flex;
	flex-wrap: wrap;
	column-gap: calc((100% - 250px * 3) / 2);
	// grid-template-columns: repeat(auto-fit, 250px);
	// justify-content: space-between;
	flex-grow: 1;
}
@media (max-width: 1024px) {
	.wrapper {
		column-gap: calc((100% - 250px * 2));
	}
}
